---
- name: Setup Azure DevOps Agent
  hosts: localhost
  connection: local
  gather_facts: yes
  become: true

  vars:
    ado_org_url: 'https://dev.azure.com/oee-intellisuite'
    agent_pool: 'Linux-Hosted'

    # Variable for the Agent Version
    # THIS WILL LIKELY NEED TO BE UPDATED PERIODICALLY
    agent_version: '4.264.2' # <-- Replace with the current agent version

    agent_name: "agent_{{ inventory_hostname | replace('.', '-') }}"
    agent_install_dir: '/opt/vstsagent'
    agent_download_url: 'https://download.agent.dev.azure.com/agent/{{ agent_version }}/vsts-agent-linux-x64-{{ agent_version }}.tar.gz'

  tasks:
    - name: Ensure agent directory exists
      ansible.builtin.file:
        path: '{{ agent_install_dir }}'
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Download agent package
      ansible.builtin.get_url:
        url: '{{ agent_download_url }}'
        dest: '{{ agent_install_dir }}/agent.tar.gz'
        mode: '0644'

    - name: Extract agent package
      ansible.builtin.unarchive:
        src: '{{ agent_install_dir }}/agent.tar.gz'
        dest: '{{ agent_install_dir }}'
        remote_src: yes

    - name: Configure the agent
      ansible.builtin.command: |
        ./config.sh \
          --unattended \
          --url "{{ ado_org_url }}" \
          --auth pat \
          --token "{{ azure_devops_pat }}" \
          --pool "{{ agent_pool }}" \
          --agent "{{ agent_name }}" \
          --replace \
          --acceptTeeEula
      args:
        chdir: '{{ agent_install_dir }}'
        creates: '{{ agent_install_dir }}/.agent' # Check if config has run
      become: false

    - name: Install agent as a service
      ansible.builtin.command: ./svc.sh install
      args:
        chdir: '{{ agent_install_dir }}'

    - name: Start agent service
      ansible.builtin.command: ./svc.sh start
      args:
        chdir: '{{ agent_install_dir }}'
